<div id="nav-container">
    <ul id="nav-bar">
        <li>Home</li>
        <li>Dashboard</li>
        <li>Login</li>
        <li>Logout</li>
    </ul>

    <h1 id="nav-title"><i>{{title}}</i></h1>
</div>