<div id="nav-container">
    <ul id="nav-bar">
        <li><a href="#">Home</a></li>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Logout</a></li>
    </ul>

    <h1 id="nav-title"><i>{{title}}</i></h1>
</div>