<div class="main-container">
    <div class="container center-block" id="add-post-container">
        <h1>ADD POST</h1>
        <form>
            <div>
                <label for="new-post-title">
                    Title
                </label>
                <br>
                <input type="text">
            </div>
            <div>
                <label for="new-post-body">What would you like say?</label>
                <br>
                <textarea name="new-post-body" id="new-post-body" cols="30" rows="10"></textarea>
            </div>
        </form>
    </div>
</div>