<div class="main-container">
    <h1>
        This is the dashboard
    </h1>

    <hr>

    <ul class="msg-container">
        <li>
            <h2>Title: 1</h2>
        </li>
        <li>
            <h2>Title: 2</h2>
        </li>
    </ul>

    <div id="add-post-container">
        <button id="add-post" class="button">
            + Add New Post
        </button>
    </div>
</div>