<div class="main-container">
    <h1>
        This is the dashboard
    </h1>

    <hr>

    <div class="ul-container">
        <ul class="msg-container">
            <li>
                <a href="#">
                    <h2>Title: 1</h2>
                </a>
            </li>
            <div class="vp"></div>
            <li>
                <a href="#">
                    <h2>Title: 2</h2>
                </a>
            </li>
        </ul>
    </div>

    <div id="add-post-container">
        <button id="add-post" class="button">
            + Add New Post
        </button>
    </div>
</div>