<div class="main-container">
    <h1>Hello World!</h1>

    <h2>Testing to see how things work</h2>

    <p>this is a test paragraph</p>

    <hr>

    <h1>Recent Blogs</h1>

    <ul class="msg-container">
        <li>
            <p>Title: 1</p>
            <p>Snippet: Snippet 1 Long snippet here, something in regards to something else that totally makes sense. I
                can just use Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum atque maxime sint dicta nisi
                assumenda consectetur molestias, exercitationem, modi molestiae nulla inventore, debitis aliquid velit
                et totam error nihil voluptatibus illum ratione blanditiis labore! Sunt dolores doloremque magnam ullam
                quibusdam modi dolorum voluptatem sint nemo veritatis? Nulla pariatur facere nihil!</p>
            <p>message: Hello</p>
        </li>
        <li>
            <p>Title: 2</p>
            <p>Snippet: Snippet 2</p>
        </li>
        <li></li>
    </ul>
</div>