<div class="main-container">
    <div class="center-block login-signup">
        <h1>Login</h1>
        <form>
            <div>
                <label for="username">Username</label>
                <br>
                <input type="text">
            </div>
            <br>
            <div>
                <label for="password">Password</label>
                <br>
                <input type="password">
            </div>
            <br>
            <button class="button">Log In</button>
        </form>
        <a href="#">
            <p class="center-block vp">Sign up instead</p>
        </a>
    </div>
</div>