<div class="main-container">
    <div class="center-block login-signup">
        <h1>Sign Up</h1>
        <form>
            <div>
                <label for="new-usernam">Username</label>
                <br>
                <input type="text">
            </div>
            <br>
            <div>
                <label for="new-password">Password</label>
                <br>
                <input type="password">
            </div>
            <br>
            <button class="button center-block">Sign Up</button>
        </form>
        <a href="/login">
            <p class="center-block vp">Login instead</p>
        </a>
    </div>
</div>