#add-post-container {
    display: block;
    margin: 0 auto;
}

#add-post {
    width: 50%;
}

/* Message containers */

.msg-container {
    padding: 1rem;
}

.msg-container li {
    padding: 0.5rem;
}

.ul-container li {
    background-color: #abdee6;
}

/* ADD POST  */

.add-post-container {
    text-align: center;
}

#add-post-container {
    width: 70%;
    text-align: center;
    border: 1px solid var(--secondary);
    background-color: var(--secondary);
}

#add-post-container h1 {
    padding: 0.5rem;
    margin: 1rem;
    border-bottom: 1px solid var(--white);
    
}

#add-post-container label {
    display: flex;
    justify-content: flex-start;
}

#add-post-container input,
#add-post-container textarea {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0.5rem;
}

#add-post-container textarea {
    resize: none;
}

#add-post-container input {
    height: 2rem;
}
