#add-post-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-post {
    width: 50%;
}

/* Message containers */

.msg-container {
    padding: 1rem;
}

.msg-container li {
    padding: 0.5rem;
}

.ul-container li {
    background-color: #abdee6;
}

/* ADD POST  */
#add-post-container {
    width: 70%;
    text-align: center;
}

#add-post-container label {
    text-align: left !important;
}