.login-signup {
    border: 3px solid var(--secondary);
    width: 100% !important;
    background-color: var(--secondary);
}

.login-signup h1 {
    background-color: var(--secondary);
    padding: 1rem;
}

.login-signup form {
    background-color: var(--white);
    padding: 1rem;
}

.login-signup label {
    font-size: 1.5rem;
}

.login-signup input {
    width: 100%;
    height: 2rem;
    border: 0;
    outline: 0;
}

.login-signup button {
    cursor: pointer;
    width: 100%;
    font-size: 1.5rem;
}