#back-button-container {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.back-button {
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
}

#singlepost-container {
    background-color: var(--secondary)
}

#singlepost-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.3rem;
    background-color: transparent;
    border: 0;
    outline: 0;
    border-bottom: 1px solid gray;
    width: 100%;
}

#singlepost-body::placeholder,
#singlepost-title::placeholder {
    color: var(--dark);
} 

#singlepost-body {
    width: 100%;
    background-color: transparent;
    outline: 0;
    border: 0;
    resize: none;
    padding: 0.4rem;
}

#singlepost-body:focus,
#singlepost-title:focus {
    background-color: white;
}

.edit-container {
    width: 50%;
}

.edit-buttons-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.3rem;
}

.edit-buttons-container button {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    font-size: 1.3rem;
    border-bottom: 1px solid gray;
}

.singlepost-comments h2 {
    border-bottom: 1px solid gray;
}

