/* Imports font "source sans pro" */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    font-family: 'Source Sans Pro', sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

#nav-container {
    padding: 1rem;
    background-color: #abdee6;
    color: #333;
}

#nav-container li {
    padding-right: 0.5rem;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

#nav-container a:hover {
    color: white;
}

#nav-bar {
    display: flex;
}

#nav-title {
    color: #cbaacb;
    font-size: 2.5rem;
    font-weight: bold;
    width: fit-content;
    padding: 0.5rem;
    padding-right: 0.9rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: -2px 2px 8px #ff968a;
}

.main-container {
    padding: 1rem;
}

#footer-container {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#missingpage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}