/* Imports font "source sans pro" */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    font-family: 'Source Sans Pro', sans-serif;
}

li {
    list-style-type: none;
}

#nav-container {
    border: 1px solid red;
}

#nav-bar {
    display: flex;
}